[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Emory-Yates
[access "refs/for/refs/*"]
	read = group user/Emory-Yates
	push = group user/Emory-Yates
	label-Code-Review = -2..+2 group user/Emory-Yates
	label-Verified = -1..+1 group user/Emory-Yates
	rebase = group user/Emory-Yates
	removeReviewer = group user/Emory-Yates
	submit = group user/Emory-Yates
[access "refs/heads/*"]
	read = group user/Emory-Yates
	create = group user/Emory-Yates
	push = +force group user/Emory-Yates
	pushMerge = group user/Emory-Yates
[access "refs/tags/*"]
	push = +force group user/Emory-Yates
	pushTag = group user/Emory-Yates
	pushSignedTag = group user/Emory-Yates
